@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #ffffff;
  margin: 0;
  opacity: 0;
  animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 170px;
  height: auto;
  padding: 10px;
}

.containerProfessor {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.container-opcoes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1000px;
  border: 1px solid #292f33;
  padding: 10px;
  box-sizing: border-box;
  position: relative;
  border-radius: 25px;
  gap: 10px;
}

.box {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  padding: 7px;
  color: #292f33;
  position: relative;
}

.box:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 20%;
  bottom: 20%;
  right: 0;
  width: 1px;
  background-color: #292f33;
}

.disciplinas {
  background: #292f33;
  width: 180px;
  height: 45px;
  border: none;
  color: rgb(255, 255, 255);
  font-size: 15px;
  font-weight: 400;
  cursor: pointer;
  border-radius: 25px;
  align-items: center;
}

.disciplinas i {
  font-size: 20px;
  color: #ffffff;
  vertical-align: middle;
  margin-right: 10px;
}

.disciplinas:hover {
  background-color: transparent;
  border: 1px solid #292f33;
  border-radius: 25px;
  color: #292f33;
}

.disciplinas:hover i {
  color: #292f33;
}

.container-box {
  display: none;
  flex-direction: column;
  gap: 10px;
  margin-top: 50px;
  width: 75%;
  border: 1px solid #292f33;
  border-radius: 25px;
  color: #292f33;
  padding: 20px;
  background-color: transparent;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.item {
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 25px;
  transition: transform 0.3s, box-shadow 0.3s;
  padding: 5px;
}

.item:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.item:hover .icon {
  background-color: #ffffff;
  color: #292f33;
  border-radius: 50%;
  border: 1px solid #292f33;
}

.item:hover p {
  text-decoration: underline;
}

.icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #292f33;
  vertical-align: middle;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 17px;
  text-transform: uppercase;
  transition: background-color 0.3s;
}
