@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  background: #ffffff;
  margin: 0;
  opacity: 0;
  animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.prof-aps {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.logo {
  width: 170px;
  height: auto;
  padding: 10px;
}

.gestao-ensino {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 600px;
  border: 1px solid #292f33;
  padding: 10px;
  box-sizing: border-box;
  position: relative;
  border-radius: 25px;
}

.itens-gestao-ensino {
  flex: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  padding: 7px;
  color: #292f33;
  position: relative;
}

.cabecalho {
  border: 1px solid #292f33;
  border-radius: 13px;
  width: 100%;
  height: 100%;
  top: 20px;
  padding: 8px;
  font-size: 16px;
  font-weight: 500;
}

.botao-itens-gestao-ensino {
  background: #292f33;
  width: 270px;
  height: 65px;
  border: none;
  color: rgb(255, 255, 255);
  font-size: 15px;
  font-weight: 400;
  cursor: pointer;
  border-radius: 25px;
  align-items: center;
}

.botao-itens-gestao-ensino:hover {
  background-color: transparent;
  border: 1px solid #292f33;
  border-radius: 25px;
  color: #292f33;
}

.item-mostrado {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 50px;
  width: 75%;
  border: 1px solid #292f33;
  border-radius: 25px;
  color: #292f33;
  padding: 20px;
  background-color: transparent;
  text-align: center;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.item-mostrado.show {
  opacity: 1;
}

.desc-item-mostrado {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.tabela {
  width: 100%;
  border: 1px solid #292f33;
  padding: 10px;
  background-color: transparent;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #292f33;
  padding: 8px;
  text-align: left;
}

th {
  font-weight: bold;
  background-color: transparent;
  text-align: center;
}

table:nth-of-type(1) th,
table:nth-of-type(1) td {
  text-align: center;
}

table:nth-of-type(3) td,
table:nth-of-type(4) td {
  text-align: justify;
}
